
        <!--========== FOOTER ==========-->
        <footer style="margin-top: 50px !important;" class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Join Us</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Our Works</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Explore</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.instagram.com/21st_gen_/">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Subscribe to Our Newsletter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--primary">21<sup>st</sup> Generation Limited</h3>
                            <p class="g-color--white-opacity">To promote mental health literacy through innovation and advocay.<br><span class="g-color--primary"style="font-weight: bolder;">OUR VISION</span></p>
                            <p class="g-color--white-opacity">To promote &amp; faciliate provision of safe space where youth will freely gather &amp; gain knowledeg on issues affecting their wellbeings.<br><span class="g-color--primary"style="font-weight: bolder;">OUR MISSION</span></p>
                            <p class="g-color--white-opacity">Youth empowerment and mental health servive organization, We provide education,developmnet programs &amp; community-buiding services in Malawi. Our aimis to promote knowledge and skills among youths, advocating for their mental well-being and growth<br><span class="g-color--primary"style="font-weight: bolder;">ABOUT US</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <a href="www.enotech.tech">
                            <img class="g-width-200--md g-width-100--xs g-height-auto--xs" src="img/enotech..png" alt="enotech Logo">
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-xs-12 g-text-left--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="#">eNOtech Developers  </a>  Project by : <a href="http://www.enotech.tech/">eNOtech</a></p>
                        <p>We would like to share with you how the 21<sup>st</sup> Generation website came to be developed and monitored by eNOtech. Our partnership with 21<sup>st</sup> Generation was born out of a mutual desire to improve their department of media and communication. As a result, we were able to bring our expertise and experience to the table and work together to create a website that reflects their vision and values. At eNOtech, we are committed to providing high-quality services and solutions to our partners. We believe that by working together, we can achieve more and help our clients reach their goals. </p>
                    </div>
 
                 
                    <div class="col-lg-4 col-md-4 col-xs-12 g-text-left--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="#">Monitored by : </a>  eNOtech <a href="https://enotech-tech.monday.com/">  enotech.tech</a></p>  

                        <p>Welcome to the 21<sup>st</sup> Generation website. We are excited to present this project, developed by eNOtech and monitored by our team. Our goal is to provide an exceptional user experience and share valuable content with our visitors. We would like to inform you that our website uses cookies to enhance your browsing experience. These cookies collect information about your preferences and allow us to tailor our content to better meet your needs. We respect your privacy and assure you that any data collected is used solely for the purpose of improving our website. If you have any questions or concerns, please do not hesitate to contact us. Thank you for visiting the 21<sup>st</sup> Generation website.</p>

                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->