
        <!--========== HEADER ==========-->
        
        <!--========== SWIPER SLIDER ==========-->
        <div class="s-swiper js__swiper-one-item">
            <!-- Swiper Wrapper -->
            <div class="swiper-wrapper">
                <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background-color:#00b94e;">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="animate-charcter g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="border:2px solid white; padding:3px; border-top-left-radius:10px; border-bottom-right-radius:10px; box-shadow:5px 10px #fff;">Empowering the Future</strong><br> <br><span style="font-weight:bolder;"> Join the 21st Generation in Discovering Your Unique Genetic Makeup and Unleashing Your Full Potential.</span></h1>

                            <hr>
                            <h1 style="margin-bottom: 5px;" class="g-color--white">Recently Projects, News &amp; Stories</h1>
                        </div>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                    <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                    <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
                    </a>
                </div>
               <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('img/women.jpg');">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="background-color: #00b94e; padding:1rem; border:2px solid #fff; opacity:1;">Empowering women</strong><br> <span style="background-color: #fff; color:#00b94e; font-weight:bold; border:2px solid #00b94e; "> Empowering women is not a one-time event, it's an ongoing journey. Join us in making a lasting impact!</span></h1>
                        </div>
                        <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                        </a>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
            </a>
                </div> 
                <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('img/Training-9862.jpg');">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="background-color: #00b94e; padding:1rem; border:2px solid #fff; opacity:1;">Creating a Community</strong><br> <span style="background-color: #fff; color:#00b94e; font-weight:bold; border:2px solid #00b94e; "> Connecting Students and Professionals Around the World.</span></h1>
                        </div>
                        <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                        </a>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
            </a>
                </div> 
                <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('img/mental.webp');">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="background-color: #00b94e; padding:1rem; border:2px solid #fff; opacity:1;">Mental Health is a Journey</strong><br> <span style="background-color: #fff; color:#00b94e; font-weight:bold; border:2px solid #00b94e; "> Mental health is not a destination, but a process. It's about how you drive, not where you're going..</span></h1>
                        </div>
                        <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                        </a>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
            </a>
                </div> 
                <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('img/21st_gen_.webp');">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="background-color: #00b94e; padding:1rem; border:2px solid #fff; opacity:1;">Revolutionizing Education</strong><br> <span style="background-color: #fff; color:#00b94e; font-weight:bold; border:2px solid #00b94e; ">  we can unlock the full potential of our students and build a better future for all.</span></h1>
                        </div>
                        <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                        </a>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
            </a>
                </div>
                 <div class="g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('img/Training-9813.jpg');">
                    <div class="container g-text-center--xs g-ver-center--xs">
                        <div class="g-margin-b-30--xs">
                            <h1 class="g-font-size-20--xs g-font-size-40--sm g-font-size-50--md g-color--white"><strong style="background-color: #00b94e; padding:1rem; border:2px solid #fff; opacity:1;">Innovating for Tomorrow</strong><br> <span style="background-color: #fff; color:#00b94e; font-weight:bold; border:2px solid #00b94e; ">Building a Better World through Technology</span></h1>
                        </div>
                        <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="s-icon s-icon--lg s-icon--white-bg g-radius--circle ti-control-play"></i>
                        </a>
                    </div>
                     <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
                    <span class="g-font-size-18--xs g-color--white ti-angle-double-down"></span>
                    <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">Learn More</p>
                    </a>
                </div>
            </div>
            
            <!-- End Swiper Wrapper -->

            <!-- Arrows -->
            <a href="javascript:void(0);" class="s-swiper__arrow-v1--right s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-right js__swiper-btn--next"></a>
            <a href="javascript:void(0);" class="s-swiper__arrow-v1--left s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-left js__swiper-btn--prev"></a>
            <!-- End Arrows -->
            
           
        </div>
        <!--========== END SWIPER SLIDER ==========-->

        <!--========== PAGE CONTENT ==========-->
<!-- Features -->
    <div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-text-center--xs g-margin-b-100--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Welcome to Megakit</p>
            <h2 class="g-font-size-32--xs g-font-size-36--md">We Create Beautiful Experiences <br> That Drive Successful Businesses.</h2>
        </div>
        <div class="row g-margin-b-60--xs g-margin-b-70--md">
            <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                            <i class="g-font-size-28--xs g-color--primary ti-desktop"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Responsive Layout</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                            <i class="g-font-size-28--xs g-color--primary ti-settings"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Fully Customizable</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".3s">
                            <i class="g-font-size-28--xs g-color--primary ti-ruler-alt-2"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Pixel Perfect</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- // end row  -->
        <div class="row">
            <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".4s">
                            <i class="g-font-size-28--xs g-color--primary ti-package"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Endless Possibilities</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".5s">
                            <i class="g-font-size-28--xs g-color--primary ti-star"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Powerful Performance</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clearfix">
                    <div class="g-media g-width-30--xs">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".6s">
                            <i class="g-font-size-28--xs g-color--primary ti-panel"></i>
                        </div>
                    </div>
                    <div class="g-media__body g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs">Parallax Support</h3>
                        <p class="g-margin-b-0--xs">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- // end row  -->
    </div>
    <!-- End Features -->

         <!--========== END OF PAGE CONTENT ==========-->
   
    </body>
    <!-- End Body -->
</html>
